.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 24px;
        font-weight: 400;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 32px;
        border: 1px solid gray;
        border-radius: 5px;
        margin-bottom: 24px;

        .input-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 18px;
            width: 100%;

            label {
                font-size: 16px;
                margin-bottom: 8px;
            }

            input {
                border: 0;
                border-bottom: 0.5px solid black;
                font-size: 18px;
                &:focus {
                    outline: none;
                }
            }
        }
        .error-container {
            color: red;
        }
    }

    button, a {
        font-size: 16px;
        padding: 8px 16px;
        border-radius: 4px;
        outline: none;
        border: 0;
        font-family: 'Kodchasan', serif;
    }
}