.register-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        justify-content: center;
        align-items: center;

        background-color: gray;
        padding: 32px;

        .name-container {
            display: flex;
            flex-direction: column;
        }

        .email-container {
            display: flex;
            flex-direction: column;
        }

        .password-container {
            display: flex;
            flex-direction: column;
        }

        .error-container {
            
        }
    }
}